<section id="mapview-container">
    <div class="left-swipe">
        <div>

            <header>
                <h1>Klatrefelt</h1>
            </header>

            <div class="top-buttons">
                <input type="text" name="filter-crags" id="filter-crags" value="Søk">
                
                <div class="listSwitch">
                        <label class="checkbox switch toggle candy blue" onclick="">
                                <input id="view" type="checkbox" />
                                <p>
                                    <span class="AZ" id="AZ">A-Å</span>
                                    <span class="avstand" id="avstand">Avstand</span>
                                </p>
                                <a class="slide-button"></a>
                        </label>

                    </div>  
                </div>

            </div>
            <div id="craglist">
                <!-- cragListView -->
            </div>
        </div>
    </div>
    <div class="right" id="map-inner-container">
        <header id="map-header">
            <h1>Kart</h1>
        </header>
        <div id="map"></div>
        <div id="map-buttons">
            <button id="show-list">&#9776;</button>
            <button id="find-me">&#127919;</button>
            <button id="find-closest-crag"></button>
            <button id="set-map-type">&#59175;</button>
        </div>
    </div>
    <div id="map-on-touch"></div>
</section>