<section id="mapview-container">
    <div class="left-swipe">
        <div>
            <header>
                <h2>Craglist</h2>
            </header>
            <input type="text" name="filter-crags" id="filter-crags">
            <div id="craglist">
                <!-- cragListView -->
            </div>
        </div>
    </div>
    <div class="right" id="map-container">
        <header id="map-header">
            <h1>Map</h1>
        </header>
        <div id="map"></div>
        <div id="map-buttons">
            <button id="find-me"></button>
            <button id="find-closest-crag"></button>
            <button id="set-map-type"></button>
        </div>
    </div>
</section>