body{
	color: #111111;
	background: url('../images/wood.jpg');
	background-repeat: repeat;
	margin: 0;
	font-family: LaneNarrow;
	min-height: 480px;

}

#main{
	position: absolute;
	width: 320px;
	background: #f0f0f0;
	left: 50%;
	margin-left: -160px;
}

ul{
	list-style-type: none;
}

h1{
	margin: 0;
	font-size: 20px;
	text-align: center;
	box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	width: 100%;
	line-height: 40px;
	color: #ffffff;
	background: #222222;
	height: 40px;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	font-weight: normal;
}

h3{
	margin:	0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	width: 100%;
} 

.sliderHeader{
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	background: #fe57a1;
	color: black;
	font-weight: bold;
	text-align: center;
	z-index: 1;
	position: fixed;
	top: 40px;
	left: 0px;
	width: 100%;
}