@import "h5bp.css";
@import "components.css";
@import "overview.css";

/* Will be compiled down to a single stylesheet with your sass files */

body{
	color: #111111;
	background: #f0f0f0;
	margin: 0;
	font-family: LaneNarrow;
}

@font-face {
    font-family: Entypo;
    src: url("../fonts/entypo.woff") format("woff");
}

@font-face {
    font-family: LaneNarrow;
    src: url("../fonts/lanenar.ttf") format("truetype");
}
